.card {
margin-left: .5rem;
}
.card-image-top {
	height: 18rem;
	transition: transform .5;
}
/*.card-image-top:hover {
	transform: scale(1.1);
}*/
nav {
	font-size: 1.5rem;
}
.headline {
	margin-bottom: 1rem;
}
.headline > h3 {
	padding-left: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background: -webkit-linear-gradient(left, #570554, #f6cfff) !important;
}
.navbar-toggler-icon{
	height: 2em;
	width: 2em;
}
.search-form {
	width: 100%;
	
}
input.form-control {
	background-color: #fff !important;
}
.inner {
	margin: 0 15px;
}
input {
	background-color: #fff !important;
}
.bg-dark {
	background-color: #570554 !important;
}
.navbar .nav-link {
	color: white !important;
}
.nav-link:hover {
	background-color: #fff !important;
	color: black !important;
	font-weight: bold;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon {
	background-color: #570554 !important;
}
.menu {
	padding: 0px !important;
}
.header {
	padding-left: .5rem!important;
	font-weight: bold;
	color: black;
}

div.container-fluid {
	padding: 0px;
}
.social img {
	height: 5rem;
	width: 5rem;
}

.unknown-title {
    color: white;
    font-size: 120%;
    background: -webkit-linear-gradient(left, #570554, white);
	padding: 5px;
}

.dropdown-menu {
	padding: 0px;
}

.dropdown-menu .b-right {
	padding-right: 2rem;
	border-right: 1px gray solid;
}
/*** desktop hover dropdown effect  **/

@media all and (min-width: 750px) {
	.dropdown-toggle::after {display: none;}
	.navbar .nav-item .dropdown-menu{ display: none !important; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: flex !important; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}