.card {
margin-left: .5rem;
}
.card-image-top {
	height: 18rem;
	transition: transform .5;
}
.card-image-top:hover {
	transform: scale(1.1);
}
nav {
	font-size: 1.5rem;
}
.headline {
	margin-bottom: 1rem;
}
.headline > h3 {
	padding-left: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.navbar-toggler-icon{
	height: 2em;
	width: 2em;
}
.search-form {
	width: 100%;
	
}
input.form-control {
	background-color: #fff !important;
}
.inner {
	margin: 0 15px;
}
input {
	background-color: #fff !important;
}
.bg-dark {
	background-color: #570554 !important;
}
.navbar .nav-link {
	color: white !important;
}
.nav-link:hover {
	background-color: #fff !important;
	color: black !important;
	font-weight: bold;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon {
	background-color: #570554 !important;
}